body{
	padding: 10px;
	background: #C0C0C0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

.key {
	position: absolute;
	padding-left: 4px;
	padding-top: 4px;
	background: #333333;
	display: inline;
	color:#FFFFFF;
}

.keySmall {
	border: 2px solid black;
	width: 75px;
	height: 75px;
	font: 12px, "Helvetica", "Arial";
}

.keyMedium {
 	border: 4px solid black;
	width: 150px;
	height: 150px;
	font: 24px, "Helvetica", "Arial";
}

.keyLarge {
	border: 8px solid black;
	width: 300px;
	height: 300px;
	font: 48px, "Helvetica", "Arial";
}

.keyImage {
	border: 16px solid black;
	width: 600px;
	height: 600px;
	font: 92px, "Helvetica", "Arial";
}
