body{
	padding: 10px;
	background: #C0C0C0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.key {
	position: absolute;
	padding-left: 4px;
	padding-top: 4px;
	background: #333333;
	display: inline;
	color:#FFFFFF;
	font-family: "Helvetica", "Arial";
	
	border-width: 2px;
	border: solid black;
	width: 75px;
	height: 75px;
}

.letter-text {
	font-size: 20px;
	float: left;
	width: 25%;
	height: 0px;
}

.name-text {
	font-size: 7px;
	
	position: relative;
	height: 0px;
	
	top: 1%;
	padding-left: 20%;
	width: 75%;
	text-align: right;
}

.cat-text {
	position: relative;
	font-size: 14px;
	
	top: 37%;
	right: 3%;
}


.body-text {
	position: relative;
	font-size: 2px;
	top: 25%;
}

.photos {
	position: relative;
	
	top: 25%;
}

.flickr-photo {
	width: 30px;
	height: 30px;
}